*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;;
}

body {
    width: 100%;
    height: 100vh;
    background: #121214;
    background-image: url("../assets/bg.svg");
    background-position-x: center;
    background-position-y: -715px;
}

ul{
    list-style: none;
}

#app {
    width: fit-content;
    margin: 52px auto;
}

#cards {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 63px;
}
main .card {
    color: #E1E1E6;
    padding: 32px 23px;
    text-align: center;
    background: #1D1C19;
    border-radius: 6px;
    border-bottom: 2px solid #F7DD43;

}



main .game-date h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
    color: #F7DD43;
    font-weight: 600;

    width: fit-content;
    margin: auto;
    margin-bottom: 53px;
}

main .game-date span {
    color: #E1E1E6;
    font-weight: 900;
    font-size: .8rem;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main ul li + li{
    padding-top: 24px;
    border-top: 1px solid #323238;
}

main ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;

}

h2 {
    color: black;
}